.header{
    padding-right: 10px;
     max-height: 38px !important;
}
 .user-name{
    padding: 8px;
}
 .total-contracts{
    background-color: rgb(148, 138, 138);
     border-radius: 5px;
     padding: 0 10px;
     color: white;
}
 .chart-header{
    text-align: center;
}
 .head-total-contracts{
    text-align: right;
}
 .avgTeamTime{
    word-break: break-all;
     padding: 0px 0px 0px 5px;
     margin-top: 20px;
}
 