.header{
     min-height: 30px !important;
     margin-bottom: 10px;
     display: block;
}

.header div ul{
   margin-bottom: 0 !important;
}
 .user-name{
    padding: 8px;
}
 .total-contracts{
    background-color: rgb(148, 138, 138);
     border-radius: 5px;
     color: white;
     padding: 6px 5px;
}
 .chart-header{
    text-align: center;
}
 .head-total-contracts{
    text-align: right;
   
}
 .avgTeamTime{
    word-break: break-all;
     padding: 0px 0px 0px 5px !important;
     margin-top: 20px;
     display: block;
}
.list-style{
   list-style: none;
}
 